.button {
	display: grid;
	grid-template: repeat(5, 1fr)/ repeat(4, 1fr);
	grid-gap: 0px;
	font-size: 24px;
}

button {
	background: #F8F8FF;
	color: black;
	border: 0.1px solid #111;
	padding: 20px;
	cursor: pointer;
}

.zero {
	grid-column: span 2;
}